<div class="header-box">
  <% if current_user.present? %>
    <i class="bi bi-list btn-list-menu"></i>
  <% else %>
    <div></div>  
  <% end %>
  <h1>Muscle Grow</h1>
  <% if current_user.present? %>
    <%= link_to('<i class="bi bi-box-arrow-right btn-sign-out"></i>'.html_safe, destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure do you want sign out?'}) %>
  <% else %>
    <div></div>
  <% end %>
</div>
<h2 class="home-description">The best way to build and organize your trainning! Choose your exercises and track your progress.</h2>
