<div class="header-box">
  <h1>Muscle Grow</h1>
</div>

<div class="home-description">
  <h2>The best way to build and organize your trainning! Choose your exercises and track your progress.</h2>
  <%= render "exercises/exercise_list", exercises: @exercises %>
</div>