.exercise-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 0.5vw;
  align-items: center;
}

.exercise-card {
  margin-top: 2vh;
  border-radius: 3vw;
  margin-right: 3vw;
}

.exercise-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0d6efd;
  color: whitesmoke;
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 1.0em;
  padding: 0.7em;
  text-transform: capitalize;
  text-align: center;
  max-width: 200px;
  word-wrap: break-word;
  height: 50px;
}

.exercise-category {
  margin-bottom: 0.5vh;
  padding-bottom: 1vh;
  margin-left: 3vw;
  margin-right: 3vw;
  align-self: center;
}

.category-title {
  width: 100%;
}

.exercise-category-header {
  background-color: #ffe6cc;
}

.exercises-in-category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.category-card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: #66b3ff;
  height: 20.7vh;
  width: 10vw;
  border-radius: 1vw;
}

.category-name {
  color: black;
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 1.0em;
  padding: 0.2em;
  text-transform: uppercase;
  text-align: center;
}

.exercise-list-modal-title {
  color: black;
}

.form-check-input:checked {
  background-color: #ed832d !important;
  border-color: #ed832d !important;
}

.modal-screen {
  max-width: 1200px !important;
}

.new-exercise-div {
  width: 50vw;
  align-self: center;
  border: 0.1em solid #ed832d;
  border-radius: 2%;
}

.exercise-form-header, .exercise-list-header {
  background-color: #ffe6cc;
  padding: 1vh;

  span {
    margin-left: 1vw;
    color: black;
    font-family: Times, monospace, serif;
    font-weight: bold;
    font-size: 1.2em;
  }

  i {
    font-size: 1.2em;
    color: #0d6efd;
  }
}

.exercise-form-header {
  margin-bottom: 3vh;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom: 0.1em solid #ed832d;
}

.exercise-form-body {
  padding: 2vh;
}

.exercise-submit {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    margin-right: 1vw;
  }
}

.field-message {
  color: red;
  font-size: 0.8em;
  font-style: italic;
}

.exercise-list-header {
  margin-left: 3vw;
  margin-right: 3vw;
  border: 0.1em solid #ed832d;
  border-radius: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.exercise-list-body {
  margin-top: 0;
  margin-left: 3vw;
  margin-right: 3vw;
  border-left: 0.1em solid #ed832d;
  border-right: 0.1em solid #ed832d;
  border-bottom: 0.1em solid #ed832d;
}

.exercise-edit-link {
  color: whitesmoke !important;
  i {
    color: whitesmoke !important;
    font-size: 1.2em;
  }
}