.exercise-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 0.5vw;
  align-items: center;
}

.exercise-card {
  margin-top: 2vh;
  border-radius: 3vw;
  margin-right: 3vw;
}

.exercise-name {
  background-color: #ed832d;
  color: whitesmoke;
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.2em;
  text-transform: capitalize;
  text-align: center;
}

.exercise-category {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 1vw;
  margin-bottom: 0.5vh;
}

.category-title {
  width: 100%;
}

.category-exercises {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.category-card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: #66b3ff;
  margin-right: 4vw;
  height: 20.7vh;
  width: 10vw;
  border-radius: 1vw;
}

.category-name {
  color: black;
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 1.0em;
  padding: 0.2em;
  text-transform: uppercase;
}

.category-header-color {
  background-color: #b3d9ff !important;
}

.category-body-color {
  background-color: #cce6ff !important;
}


