body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  align-self: center;
  text-align: center;
  color: whitesmoke;
  font-family: monospace, Times, serif;
}

h2 {
  align-self: center;
  text-align: center;
  color: black;
  font-family: Times, monospace, serif;
}

.header-box {
  background-color: #ed832d;
  margin: 0;
  width: 100%;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1vw;
  padding-right: 1vw;
}

.home-description {
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-content {
  display: block;
  position: absolute;
  top: 57px;
  left: 0px;
}

.menu-content-body {
  background-color: #ffe6cc;
  border-top: none;
  padding: 0;
}

.app-title {
  text-decoration: none;
}

.menu-sandwich {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin: 0;
}

.menu-item{
  a:hover{
    background-color: #ffce99;
    text-decoration: none;
  }

  a {
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    
    i {
      font-size: 1.5em;
      margin-right: 1vw;
    }

    span {
      display: flex;
      align-self: center;
    }
  }
}