<div class="exercise-list-header">
    <div>
      <i class="bi bi-card-list"></i>
      <span>Exercise List</span>
    </div>  
    <% if can? :manage, Exercise %>
      <a class="btn btn-primary" href="/exercises/new">+ Add Exercise</a>
    <% end%>
</div>
<div class="exercise-list-body">
  <%= render "exercise_list", with_checkbox: false %>
</div>