<div class="new-exercise-div">
  <div class="exercise-form-header">
    <i class="bi bi-plus-circle-fill"></i>
    <span>New Exercise</span>
  </div>
  <div class="exercise-form-body">
    <%= render "form", exercise: @exercise, category_options: @category_options %>
  </div>
</div>